<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basicLayout}">

<div layout:fragment="content">
    <h2>회원 목록</h2>
    <table>
        <tr>
            <th>id</th>
            <th>이름</th>
            <th>이메일</th>
            <th>성별</th>
            <th>등록여부</th>
            <th>가입일</th>
        </tr>
        <tr th:each="member:${memberList}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.username}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.sex}"></td>
            <td th:text="${member.isChurchMember}"></td>
            <td th:text="${member.createdTime}"></td>
            <td><a th:href="@{/admin/members/{id}(id=${member.id})}">수정하기</a></td>
        </tr>
    </table>
</div>
