<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basicLayout}">

<div layout:fragment="content">
    <form th:action method="#" th:method="put" th:object="${memberFormDto}">
        <div>
            <label th:for="id">id</label>
            <input type="text" id="id" th:value="${memberDto.id}" th:name="id" readonly>
        </div>
        <div>
            <label th:for="email">이메일</label>
            <input type="text" id="email" th:value="${memberDto.email}" th:name="email" readonly>
        </div>
        <div>
            <label th:for="password">비밀번호</label>
            <input type="text" id="password" th:value="${memberDto.password}" th:name="password">
        </div>
        <div>
            <label th:for="username">이름</label>
            <input type="text" id="username" th:value="${memberDto.username}" th:name="username">
        </div>
        <div>
            성별
            <label>
                <input type="radio" th:checked="${memberDto.sex.equals('male')}" th:name="sex" readonly>
                남자
            </label>
            <label>
                <input type="radio" th:checked="${memberDto.sex.equals('female')}" th:name="sex" readonly>
                여자
            </label>
        </div>
        <div>
            속초영성교회 등록 교인입니까?
            <label>
                <input type="radio" th:checked="${memberDto.isChurchMember}" th:name="isChurchMember" readonly>
                예
            </label>
            <label>
                <input type="radio" th:checked="${!memberDto.isChurchMember}" th:name="isChurchMember" readonly>
                아니오
            </label>
        </div>
        <div>
            <button type="submit">수정하기</button>
        </div>
    </form>
</div>
